# PostgreSQL (Docker Compose와 동일하게)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=seoul_walk
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Valkey
VALKEY_URI=your_valkey_uri
# 지도
MAPBOX_API_KEY=your_mapbox_key
KAKAO_API_KEY=your_kakao_api_key

# 공공데이터포털
PUBLIC_DATA_API_KEY=your_public_data_api_key

# NLP
OPENAI_API_KEY=your_openai_key

# login 시 사용하는 secret key. python -m src.config.settings로 실행 후 발급하시면 됩니다!
ACCESS_SECRET_KEY=your_access_secret_key
REFRESH_SECRET_KEY=your_refresh_secret_key

