.venv/
__pycache__/
*.pyc
.env
.DS_Store
Thumbs.db
src/data/raw/
.env               
.venv/             
__pycache__/        
*.csv
*.xlsx
!src/data/
!src/data/raw/
!src/data/raw/child_protection_zones_2025_12.xlsx
venv/
cache/
.idea/